<div id="<%= id %>" class="recipe">
  <div class="recipe-header">
    <div class="recipe-image" style="background-image: url('<%= imageUrl %>')"></div>
    <h1 class="recipe-title"><%= title %></h1>
    <% if (sourceName !== '') { %>
      <h2 class="recipe-source">Source: <a href="<%= url %>"><%= sourceName %></a></h2>
    <% } else { %>
      <h2 class="recipe-source"><a href="<%= url %>">Visit Source</a></h2>
    <% } %>
  </div>

  <div class="recipe-body">
    <div class="recipe-panel left">
      <div class="recipe-ingredients">
        <h3>Ingredients</h3>
        <ul>
          <% _.each(ingredients, function (ingredient) { %>
            <li><%= ingredient %></li>
          <% }) %>
        </ul>
      </div>

      <div class="recipe-steps">
        <div class="recipe-steps-header">
          <h3>Instructions</h3>
        </div>
        <ol>
          <% _.each(steps, function (step) { %>
            <li><%= step %></li>
          <% }) %>
        </ol>
      </div>
    </div>

    <div class="recipe-panel right">

      <div class="start-panel" style="background-image: url('<%= imageUrl %>')">
        <span class="button start-btn">Start Recipe</span>
      </div>
 
      <div class="steps-panel hidden">
        <div class="recipe-current-step">
          <h3 class="step-number"></h3>
          <span class="step-image"></span>
          <span class="step-text"></span>
        </div>

        <div class="recipe-meter-container">
          <div class="meter-label">
            Progress:
          </div>
          <div class="recipe-meter meter">
            <span style="width: 0%"></span>
          </div>
        </div>

        <div class="recipe-buttons">
          <div>
            <span class="button back-btn">Back</span>
            <span class="button next-btn">Next</span>
          </div>
          <div>
            <span class="button done-btn hidden">Done!</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
