<div id="<%= id %>" class="recipe">
  <div class="recipe-image" style="background-image: url('<%= imageUrl %>')"></div>
  <div class="recipe-title"><%= title %></div>
  <div class="recipe-source">Source: <a href="<%= url %>"><%= sourceName %></a></div>

  <div class="recipe-steps">
    <ol>
      <% _.each(steps, function (step) { %>
        <li><%= step %></li>
      <% }) %>
    </ol>
  </div>

  <div class="recipe-current-step">
    <%= currentStep %>
  </div>

  <div class="recipe-buttons">
    <span class="button back-btn">Back</span>
    <span class="button next-btn">Next</span>
  </div>
</div>
